@model VetSystem.Models.PetOwnerModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Owner details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Pet Id</th>
                    <th>Pet name</th>
                </tr>
                @foreach (var item in Model.Pets)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model. }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>